@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{background-color: rgb(8, 8, 10);
    margin:0%;
}

h1{text-align: center;
    letter-spacing: 2px;
    line-height: 110%;
    font-family: 'Anton', sans-serif;
}

a{text-align: center;
    word-spacing: 4px;
    line-height: 150%;
    font-family: 'Balsamiq Sans', sans-serif;
    text-indent: 50px;
}

#top{background-color: rgb(4, 5, 10);
    padding: 7px;
    text-align: center;
}

#titulo{color: rgb(163, 1, 36);
    text-align: center;
    padding: 1%;
    margin: 0px;
}

#linkinicial {background-color:rgb(163, 1, 36);;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 500px;
    padding-right: 500px;
    border-radius: 10px;
    transition: 0.7s;
    text-decoration: none;
}

#linkinicial:hover{background-color: rgb(11, 11, 14);
    color: rgb(163, 1, 36);
    border-radius: 5px;
    border: solid 1px rgb(0, 0, 0);
    position: relative;
}

#image{width: 300px;
    border: 2px solid rgb(0, 0, 0);
    transition: 0.5s;
    border-radius: 20px;
    margin-left: 30px;
    float: left;
}

#link1{background-color: rgb(11, 11, 14);
    border: 1px solid black;
    padding: 10px;
    margin-left: 350px;
    width: 950px;
    border-radius: 5px;
    color: rgb(219, 219, 219);
    font-family: 'Balsamiq Sans', cursive;
    text-decoration: none;
    text-align: center;
    display: flex;
    transition: 0.5s;
}

#link1:hover{background-color: rgb(19, 16, 31);
}

#slider{margin-top: 30px;
    text-align: center;
}

::-webkit-scrollbar{background-color: rgb(4, 5, 10);
    width: 7px;
}

::-webkit-scrollbar-thumb{background-color: rgb(163, 1, 36);
    border-radius: 10px;
}